<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container">
<nav class="navbar navbar-dark site-header sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-center" href="#">Serwis rekruterski</a>

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a routerLink="login" class="nav-link" href="#">Wyloguj</a>
    </li>
  </ul>
</nav>

<app-main></app-main>
</div>
